p {
    margin: 0;
}

.row {
    display: flex;
    justify-content: flex-end;
}

.my-message-container {
    max-width: 80%;
    min-width: 200px;
    min-height: 80px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    margin: 0.5rem 0.1rem;
}

.my-message-avatar-container {
    width: 56px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.my-message-avatar-border {
    width: 38px;
    height: 38px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-message-avatar {
    width: 34px;
    height: 34px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.my-message-content-container {
    background-color: azure;
    padding: 10px;
    border-radius: 10px;
}

.my-message-content-user-name {
    margin-bottom: 0.4rem;
}

.my-message-content-user-name > p {
    color: gray;
    font-size: 0.8rem;
}

.my-message-content-content {
    margin-bottom: 0.4rem;
}

.my-message-content-content > p {
    font-size: 1rem;
}

.my-message-content-sent-time {

}

.my-message-content-sent-time > p {
    color: gray;
    font-size: 1rem;
}